# Info Scout Content Engineer Interview

The following Jupyter Notebook displays three functions used to gain insight from a provided dataset. The data has been taken from many customer transactions and aggregated to find specific insights.

The functions found in this module are as follows:
* retail_affinity: **Used to find brand affinity (given a focus brand)**
* count_hhs: **This function takes in 4 parameters -- retailer,brand,start_date,end_date. If a start/end date can not be found, the function defaults to the current date. | This function will be used to identify buying habits of customers**
* top_buying_brand: **This function will be used to find the top selling brand based on Units sold(qty) * Unit Price(amount)

In [1]:
import pandas as pd 
import datetime

data = pd.read_json('trips_gdrive.json')
data.head()

  amount          brand       date  qty   retailer   tripId  userId
0     $2        Monster 2014-01-02    1    Walmart  9518383  118789
1     $2       Red Bull 2014-01-02    1    Walmart  9536651  191043
2     $2       Red Bull 2014-01-02    1    Walmart  9538542   36949
3     $8  5 Hour Energy 2014-01-02    2  Walgreens  9540308  310300
4     $9       Rockstar 2014-01-02    5     Kroger  9543394  310076

In [2]:
result = data.groupby(["brand","retailer"])["qty"].sum().reset_index().sort_values(["brand","qty"],ascending = False).set_index(["brand","retailer"]).reset_index()
result

            brand   retailer   qty
0        Rockstar     Kroger  3320
1        Rockstar  Walgreens  2164
2        Rockstar    Walmart  1901
3        Rockstar    Safeway  1504
4        Rockstar     Target  1218
5        Rockstar     Publix   346
6        Rockstar        CVS   166
7        Rockstar     Costco   145
8        Red Bull    Walmart  5108
9        Red Bull     Kroger  4137
10       Red Bull  Walgreens  2548
11       Red Bull    Safeway  1519
12       Red Bull     Target  1379
13       Red Bull     Publix   799
14       Red Bull        CVS   411
15       Red Bull     Costco   271
16        Monster    Walmart  7530
17        Monster     Kroger  4402
18        Monster  Walgreens  1407
19        Monster    Safeway  1404
20        Monster     Target  1309
21        Monster        CVS  1299
22        Monster     Publix   628
23        Monster     Costco   396
24  5 Hour Energy    Walmart  1452
25  5 Hour Energy  Walgreens   338
26  5 Hour Energy     Kroger   258
27  5 Hour Energy    Safeway   255
28  5 Hour Energy        CVS   211
29  5 Hour Energy     Target   210
30  5 Hour Energy     Publix    83
31  5 Hour Energy     Costco     2

In [3]:
def retail_affinity(focus_brand):
    result = data.groupby(["brand","retailer"])["qty"].sum().reset_index().sort_values(["brand","qty"],ascending = False).set_index(["brand","retailer"]).reset_index()
    focus = (list(result[result.brand==focus_brand].retailer)[0])
    return focus

print("The Retail Affinity for this brand is: ",retail_affinity("Monster"))

The Retail Affinity for this brand is:  Walmart

In [4]:
def count_hhs(retailer,brand,start_date,end_date):
    household_transactions_dates = data.date
    start_date
    try:
        if start_date & end_date is not None:
            hh_query = 1 and (data.retailer == retailer) & (data.brand == brand) & (data.date > start_date) & (data.date <= end_date)
    except:
        hh_query = 1 and (data.retailer == retailer) & (data.brand == brand) & (data.date < datetime.datetime.today().strftime('%Y-%m-%d') )
    filter_hh_transactions = data[hh_query]
    unique_hh = filter_hh_transactions.userId.unique()
    

    print(filter_hh_transactions.head())


    print("The total unique transactions:", len(unique_hh))
    
count_hhs(retailer = "Walmart", brand = "Monster", start_date = "2014-01-11", end_date = "2014-01-25")

   amount    brand       date  qty retailer   tripId  userId
0      $2  Monster 2014-01-02    1  Walmart  9518383  118789
7      $5  Monster 2014-01-02    3  Walmart  9548475   36112
22     $2  Monster 2014-01-02    1  Walmart  9563314  151326
28     $2  Monster 2014-01-02    1  Walmart  9566012  264177
40     $2  Monster 2014-01-02    1  Walmart  9572040  219224
The total unique transactions: 2609

In [5]:
def top_buying_brand():
    data.amount = data.amount.str.replace("$", "")
    data.amount = data.amount.astype(float)

    data.amount = data.amount * data.qty

    total_amount_per_household = data.groupby(["brand", "userId"])["amount"].sum()
    top_selling_brand = total_amount_per_household.idxmax()[0]
    print("The top selling Brand is: ",top_selling_brand)
    
top_buying_brand()

The top selling Brand is:  Rockstar